{% extends "blog/base.html" %}
{% block content %}
    <h1>Aviso de privacidad</h1>
    <p style="color: rgb(117, 117, 117)">(Vigente a partir del 1 de Noviembre del 2019)</p>

    <div class="aviso-privacidad">

        <p class="aviso-privacidad-title"><bold>¿Quién dará tratamiento a tus datos personales?</bold></p>
        
        Los datos personales proporcionados por usted serán utilizados por <strong class="app-title-privacy">iTalk</strong> con domicilio en Ejército Nacional No. 843-B, Col. Granada, Del. Miguel Hidalgo, C.P. 11520, México, D.F.
        
        <br/>
        <br/>
        <p class="aviso-privacidad-title">¿Qué información vamos a recabar?</p>
        
        <strong class="app-title-privacy">iTalk</strong> para cumplir con las finalidades señaladas en el presente Aviso tratará datos personales de identificación y de contacto. En el supuesto de que usted nos contacte por redes sociales, podremos dar tratamiento a la información contenida en su perfil público de la red social de que se trate, así como al contenido de sus publicaciones.
        
        Le informamos que para efectos de lo señalado en el presente aviso de privacidad <strong class="app-title-privacy">iTalk</strong> no tratará datos personales sensibles.
        
        <br/>
        <br/>
        <p class="aviso-privacidad-title">¿Para qué fines usamos tu información?</p>
        
        Los datos personales que nos ha proporcionado serán utilizados para las siguientes actividades primarias y necesarias: (i) identificarle; (ii) contactarle; (iii) dar seguimiento, actualización y confirmación en cuanto a productos y servicios contratados; (iv) para darle servicios a través de nuestro Call Center; (v) Proveerle del bien y/o servicio que solicite, (vi) Mantener actualizados nuestros registros a fin de poder responderle a sus consultas; (vii) evaluar la calidad de los servicios que le ofrecemos; (viii) responder a sus comentarios o solicitudes de información.
        
        <br/>
        <br/>
        <p class="aviso-privacidad-title">¿Qué otros usos podemos darle a tu información?</p>
        
        De manera adicional, si usted no se opone, <strong class="app-title-privacy">iTalk</strong> utilizará su información personal para el envío tanto físico como electrónico, de publicidad y comunicación con fines de mercadotecnia y telemarketing, y para la prospección comercial y análisis estadísticos y de mercado, así como para invitarle a participar en encuestas de calidad del servicio y a eventos organizados por <strong class="app-title-privacy">iTalk</strong>.
        
        
        En caso de que no desee que sus datos personales sean tratados para alguna o todas las finalidades adicionales, desde este momento usted nos puede comunicar lo anterior a la dirección: protecciondedatos@gm.com
        
        <br/>
        <br/>
        <p class="aviso-privacidad-title">¿A qué terceros podemos transferir tu información?</p>
        
        <strong class="app-title-privacy">iTalk</strong> para cumplir las finalidades necesarias anteriormente descritas u otras aquellas exigidas legalmente o por las autoridades competentes, podrá transferir los datos personales a:
        
        (i)   Autoridades laborales y/ o a otras  autoridades competentes para dar cumplimiento a disposiciones legales;
        
        (ii)  A empresas matrices, subsidiarias y/o filiales de <strong class="app-title-privacy">iTalk</strong>;
        
        (iii) A GM Financial y a otros terceros con los cuales tenga convenios escritos de transferencia de datos los cuales operan bajo políticas de privacidad que cumplen con las disposiciones aplicables correspondientes para alguna de las finalidades señaladas en el presente aviso de privacidad;
        
        (iv) A instituciones bancarias para realizar  pagos; y;
        
        (v)  A autoridades competentes en los casos legalmente previstos.
        
        Para el efecto, le informamos que el consentimiento para la transferencia de sus datos personales no es requerido.
        
        
        <br/>
        <br/>
        <p class="aviso-privacidad-title">¿Cómo puedes ejercer tus derechos ARCO y/o revocar tu consentimiento?</p>
        
        Usted o su representante legal podrá ejercer cualquiera de los derechos de acceso, rectificación, cancelación u oposición (en lo sucesivo “derechos Arco”), así como revocar su consentimiento para el tratamiento de sus datos personales enviando un correo electrónico, al Departamento de Protección de Datos Personales de <strong class="app-title-privacy">iTalk</strong> a la dirección protecciondedatos@gm.com.
    </div>
{% endblock content %}
