{% extends "blog/base.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2 article-subtitle" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
      {% if object.author == user %}
      <div>
        <a class="btn btn-sm btn-update mt-1 mb-1" href="{% url 'post-update' object.id %}">Actualizar</a>
        <a class="btn btn-sm btn-delete mt-1 mb-1" href="{% url 'post-delete' object.id %}">Eliminar</a>
      </div>
      {% endif %}
    </div>
    <h2 class="article-title">{{ object.title }}</h2>
    <p class="article-content">{{ object.content }}</p>

    <div id="comments_section">

      {% if user.is_authenticated %}
      <form method="POST">
        {% csrf_token %}
        <div class="form-group hide-label">
          {{ comment_form }}
          <button class="btn btn-sm btn-update" type="submit">Agregar Comentario <i class="fas fa-comments"></i></button>
        </div>
      </form>
      {% else %}
      <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to add a comment!</a><br>
      {% endif %}
    
      {% if comments %}
      <strong class="text-secondary">{{ object.number_of_comments }} comentario{{ object.number_of_comments|pluralize}}</strong>
      <hr>
      <div>
        {% for comment in comments %}
        <div class="container-comments">
          <div class="comment">
              <div>
                <strong class="article-subtitle"> <a class="article-subtitle" href="{% url 'user-posts' object.author.username %}">{{ comment.author }}</a></strong>
                
              </div>
              {{ comment.content|safe }}
          </div>
          <br/>
          <small class="text-muted">{{ comment.date_posted }}</small>
        </div>
        {% endfor %}
      </div>
      {% endif %}
    

  </div>
</article>
  {% endblock content %}