[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.10.15"
chardet = "==3.0.4"
django-crispy-forms = "==1.7.2"
idna = "==2.7"
pytz = "==2018.5"
requests = "==2.19.1"
urllib3 = "==1.23"
Django = "==2.1"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
